.activity {
  padding-bottom: 94px;
  background-color: #FFFFFF;
  flex-direction: column;  
  display: none;
  @media screen and (min-width:1200px) {
    display: block;
  }
} 
.activity__cards {
  display: flex;
  position: relative;
}
.activity__card {
  margin-right: 30px;
}
.activity__card:nth-child(3) {
  margin-right: 0;
}
.activity__card-heading {
  position: absolute;
  bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 370px;
  height: 70px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}