.filter {
  display: flex;
  @media screen and (max-width:767px) {
    flex-wrap: wrap;
    gap: 8px;
  }
  @media screen and (min-width:768px) {
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }
}

.filter__item {
  margin-right: 8px;
  padding: 6px 22px;
  border: 0px;
  background: #F5F4FA;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    transition: color box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    background-color: var(--blue);
    color: #FFFFFF;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}