.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: 481px) {
    display: none;
  }
}
.menu-icon {
  width: 40px;
  height: 40px;
  fill: var(--lblack);
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}


.menu-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle_icon {
  fill: black;
    
  &:hover,
  &:focus {
    fill: var(--blue);
  }
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  @media screen and (min-width:768px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;

}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu_item {
  margin-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--blue);
  }
}
.mobile-menu .link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47/40);
  letter-spacing: 0.02em;
}

.mobile-menu_contacts_item {
  margin-top: 32px;
}
.mobile-menu_contacts-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40/34);
  letter-spacing: 0.02em;
  color: var(--blue);
}
.mobile-menu_contacts-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28/24);
  letter-spacing: 0.02em;
  color: var(--lgray);

}

.mobile-menu_social {
  margin-top: 64px;
  display: flex;
}

.mobile-menu_social-item {
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--blue);
  border-right: 1px solid  #21212133;
}
.mobile-menu_social-item--noBorder{
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--blue);
}
